.pokemon-card__grid {
	display: grid;
	height: 100%;
}

.pokemon-card__grid img {
	grid-area: image;
	align-self: center;
	justify-self: center;
	cursor: pointer;
}

.pokemon-information {
	grid-area: information;
	align-self: center;
	cursor: pointer;
}

.pokemon-information p {
	margin: 0;
}

.pokemon-information__name {
	font-size: 1.2rem;
	font-weight: bold;
}

.pokemon-information__type {
	display: flex;
	margin-top: .5rem;
}

/* Media Queries */

// Mobile
@media only screen and (max-width: 660px) {
	.pokemon-card__grid {
		grid-template-columns: 100%;
		grid-template-rows: 15% auto 40%;
		grid-template-areas:
		"favorites"
		"image"
		"information";
	}

	.pokemon-card__grid img {
		width: 50%;
		height: auto;
	}

	.pokemon-favorites {
		grid-area: favorites;
		display: flex;
		justify-content: end;
		align-items: center;
		margin-right: .5rem;
	}

	.pokemon-information {
		padding: .5rem;
	}
}

// Tables
@media only screen and (min-width: 660px) {
	.pokemon-card__grid {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 10rem;
		grid-template-areas:
		"image information favorites";
	}

	.pokemon-card__grid img {
		width: 7rem;
		height: auto;
	}
}

// Desktop
@media only screen and (min-width: 992px) {
	.pokemon-card__grid {
		grid-template-columns: 40% 50% 10%;
		grid-template-rows: 100%;
		grid-template-areas:
		"image information favorites";
	}

	.pokemon-card__grid img {
		width: 7rem;
		height: auto;
	}
}

