<div *ngIf="loading">
	<app-loading></app-loading>
</div>

<div class="pokemons-list" [ngClass]="blur">
	<div class="pokemons-list__header">
		<h1 class="title">Pokemones</h1>
		<div class="search">
			<app-search
			(searchPokemon)="onSearchPokemon($event)"
			></app-search>
		</div>
	</div>
	<div class="pokemons-list__grid" *ngIf="pokemons.length">
		<app-pokemon
		*ngFor="let pokemon of pokemons"
		[pokemon]="pokemon"
		></app-pokemon>
	</div>
	<div *ngIf="!pokemons.length">
		<app-empty-state></app-empty-state>
	</div>
	<div class="pokemons-list__button">
		<div *ngIf="pokemons.length > 0">
			<app-pkm-button
				[pkmType]="btnClass"
				(click)="loadMore()"
				[text]="textContent"
			></app-pkm-button>
		</div>
	</div>
</div>
