.pokemons-list {
	display: grid;
	justify-content: center;
	grid-template-areas:
	"header"
	"list"
	"button";
	height: auto;
	width: 100%;
}

.pokemons-list__header {
	grid-area: header;
	display: flex;
}

.pokemons-list__header h1 {
	font-size: 2rem;
	margin: 0;
}

.pokemons-list__grid {
	grid-area: list;
	display: grid;
}

.pokemons-list__button {
	display: grid;
	grid-area: button;
	align-items: center;
	justify-items: center;
}

/* Media Queries */

// Mobile
@media only screen and (max-width: 660px) {
	.pokemons-list {
		display: grid;
		grid-template-columns: 95%;
		grid-template-rows: 8rem 100% 5rem;
	}

	.pokemons-list__grid {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		gap: 1rem;
	}

	.pokemons-list__button div {
		width: 100%;
	}

	.pokemons-list__header {
		flex-direction: column;
		align-items: flex-start;
		gap: 1rem;
	}

	.search {
		width: 100%;
	}
}

// Tables
@media only screen and (min-width: 660px) {
	.pokemons-list {
		display: grid;
		grid-template-columns: 90%;
		grid-template-rows: 6rem 100% 5rem;
	}

	.pokemons-list__grid {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 10rem;
		gap: 1rem;
	}

	.pokemons-list__button div {
		width: 10rem;
	}

	.pokemons-list__header {
		align-items: center;
		justify-content: space-between;
	}
}

// Desktop
@media only screen and (min-width: 992px) {
	.pokemons-list {
		grid-template-columns: 80%;
		grid-template-rows: 6rem 100% 5rem;
	}

	.pokemons-list__grid {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 10rem;
		gap: 2rem;
	}

	.pokemons-list__button div {
		width: 20rem;
	}

	.pokemons-list__header {
		align-items: center;
		justify-content: space-between;
	}
}

