.search-pokemons {
	display: flex;
}

.search-pokemons__input {
    width: 100%;
    padding: 0.375rem 0.75rem;
    color: #212529;
	font-family: inherit;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
	border-radius: 0.25rem;
	margin-right: .5rem;

	::placeholder {
		color: #9CA3AF;
	}
}
